strong {
    color: #78b9e6;
}
.cols, .rows {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rows {
    flex-direction: column;
}
.cols > div {
    flex: 1 1 auto;
}
.reveal .footnote {
    font-style: italic;
    font-size: smaller;
    opacity: 0.5;
}
.reveal sup {
    opacity: 0.5;
}
.shell {

}
.shell.up, .shell.down {
    width: 100%;
}